/* styles/Home.module.css */
.body, .html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px; 
}

.cursor {
  visibility: hidden;
}

.cursorVisible {
  visibility: visible;
  animation: blink 0.5s step-end infinite;
}

@keyframes blink {
  0% { visibility: hidden; }
  50% { visibility: visible; }
  100% { visibility: hidden; }
}

.choicesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.choice {
  font-size: 1.5rem;
  cursor: pointer;
}

.selectedChoice {
  font-weight: bold;
}